@import "tailwindcss";

@font-face {
  font-family: Berlos;
  src: url('../../public/fonts/Berlos.woff');
}

@font-face {
  font-family: Cervo;
  src: url('../../public/fonts/Cervo-Medium.otf');
  font-weight: 500;
}
@font-face {
  font-family: Cervo;
  src: url('../../public/fonts/Cervo-Regular.otf');
  font-weight: 400;
}
@font-face {
  font-family: Axiforma;
  src: url('../../public/fonts/Kastelov-Axiforma-Light.otf');
  font-weight: 300;
}
@font-face {
  font-family: Axiforma;
  src: url('../../public/fonts/Kastelov-Axiforma-Medium.otf');
  font-weight: 500;
}
@font-face {
  font-family: Axiforma;
  src: url('../../public/fonts/Kastelov-Axiforma-Regular.otf');
  font-weight: 400;
}

body{
  font-family: Axiforma;
  overflow-x: hidden;
}

:root {
  --pure: #ffffff;
  --primary: #DCEFB2;
  --secoundry: #AED036;
  --dark: #25330A;
  --font-berlos: 'Berlos';
  --font-cervo: 'Cervo';
  --font-axiforma: 'Axiforma';
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 1px var(--dark);
    -webkit-text-fill-color: transparent;
    font-family: Cervo;
    font-weight: 500;
    line-height: 140px;
  }
}


@theme {
  --color-pure: var(--pure);
  --color-primary: var(--primary);
  --color-secoundry: var(--secoundry);
  --color-dark: var(--dark);
  --font-berlos: var(--font-berlos);
  --font-cervo: var(--font-cervo);
  --font-axiforma: var(--font-axiforma);
}
.circle_button .arrow path{
  transition: .4s ease-in-out;
}
.circle_button:hover .arrow path{
  stroke: #111;
}

.circle-svg {
  stroke: rgb(255, 255, 255);
  animation-name: styles_stroke-circle-svg;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  transform-origin: center;
}

@keyframes styles_stroke-circle-svg {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-1turn);
  }
}


.scroll-content1 {
  animation: scroll-text 30s linear infinite;
  line-height: 140px;
}
.scroll-content2 {
  animation: scroll-text 50s linear infinite;
  line-height: 140px;
}
.scroll-content3 {
  animation: scroll-text 40s linear infinite;
  line-height: 140px;
}
.scroll-content4 {
  animation: scroll-text 20s linear infinite;
  line-height: 140px;
}

.scroll-bubble-1 {
  animation: scroll-text 15s linear infinite;
}

@keyframes scroll-text {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(-100vw);
  }
}