@import "tailwindcss";

:root {
  --pure: #ffffff;
  --primary: #DCEFB2;
  --secoundry: #AED036;
  --dark: #25330A;
}

@theme inline {
  --color-pure: var(--pure);
  --color-primary: var(--primary);
  --color-secoundry: var(--secoundry);
  --color-dark: var(--dark);
}

.circle-svg {
  stroke: rgb(0, 0, 0);
  animation-name: styles_stroke-circle-svg;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  transform-origin: center;
}

@keyframes styles_stroke-circle-svg {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-1turn);
  }
}