@import "tailwindcss";

@font-face {
  font-family: Berlos;
  src: url('../../public/fonts/Berlos.woff');
}

@font-face {
  font-family: Cervo;
  src: url('../../public/fonts/Cervo-Medium.otf');
  font-weight: 500;
}
@font-face {
  font-family: Cervo;
  src: url('../../public/fonts/Cervo-Regular.otf');
  font-weight: 400;
}
@font-face {
  font-family: Axiforma;
  src: url('../../public/fonts/Kastelov-Axiforma-Light.otf');
  font-weight: 300;
}
@font-face {
  font-family: Axiforma;
  src: url('../../public/fonts/Kastelov-Axiforma-Medium.otf');
  font-weight: 500;
}
@font-face {
  font-family: Axiforma;
  src: url('../../public/fonts/Kastelov-Axiforma-Regular.otf');
  font-weight: 400;
}

body{
  font-family: Axiforma;
  overflow-x: hidden;
}

:root {
  --pure: #ffffff;
  --primary: #DCEFB2;
  --secoundry: #AED036;
  --dark: #25330A;
  --font-berlos: 'Berlos';
  --font-cervo: 'Cervo';
  --font-axiforma: 'Axiforma';
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 1px var(--dark);
    -webkit-text-fill-color: transparent;
    font-family: Cervo;
    font-weight: 500;
    /* line-height: 130px; */
  }
  .text-stroke-white {
    -webkit-text-stroke: 2px var(--pure);
    -webkit-text-fill-color: transparent;
    font-family: Cervo;
    font-weight: 500;
    /* line-height: 130px; */
  }
}


@theme {
  --color-pure: var(--pure);
  --color-primary: var(--primary);
  --color-secoundry: var(--secoundry);
  --color-dark: var(--dark);
  --font-berlos: var(--font-berlos);
  --font-cervo: var(--font-cervo);
  --font-axiforma: var(--font-axiforma);
}
.circle_button .arrow path{
  transition: .4s ease-in-out;
}
.circle_button:hover .arrow path{
  stroke: #111;
}
.circle_button.dark:hover .arrow path{
  stroke: #fff;
}

.circle-svg {
  stroke: rgb(255, 255, 255);
  animation-name: styles_stroke-circle-svg;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  transform-origin: center;
}
.singleBlog p{
  font-size: 18px;
}
.singleBlog{
  color: var(--dark);
  font-size: 18px;
}
.singleBlog h3{
  font-size: 21px;
  line-height: 27px;
  font-weight: 700;
  margin: 10px 0;
}
.singleBlog h4{
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  margin: 10px 0;
}
.singleBlog a{
  color: rgb(0, 118, 168);
  text-decoration: underline;
}
.singleBlog h5{
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin: 10px 0;
}
.singleBlog h6{
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  margin: 10px 0;
}
.singleBlog h2{
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
  margin: 10px 0;
}
.singleBlog ul{
  padding-left: 1.4rem;
  margin: 8px 0
}
.singleBlog li{
  list-style-type: circle;

}

@keyframes styles_stroke-circle-svg {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-1turn);
  }
}

.scroll-bubble-1 {
  animation: scroll-text 15s linear infinite;
}

@keyframes scroll-text {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(-100vw);
  }
}










::-webkit-scrollbar {
  width: 0px; /* Width of the scrollbar */
}
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar */
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
::-webkit-scrollbar-track {
  background: transparent;
}





@font-face {
  font-family: Melodrama;
  src: url('../../public/fonts/Melodrama-Regular.ttf');
}
